/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
body {
	margin: 0 auto;
	padding: 0 auto;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: rgb(245,245,245);
}
nav {
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	box-shadow: 0 0 5px rgba(57, 70, 78, 0.2);
	z-index: 100;
}
.nav_left {
	width: 58px;
	height: 47px;
	background-color: #ffffff;
	border-bottom: 3px solid #3366ff;
	float: left;
}
.nav_left a {
	line-height: 50px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: rgb(92,102,107);
	font-size: 14px;
}
.nav_right {
	width: 132px;
	height: 50px;
	background-color: #ffffff;
	float: right;
	margin-right: 10px;
}
.nav_right a {
	display: block;
	height: 50px;
	width: 132px;
	color: rgb(92,102,107);
}
.nav_right a:hover p {
	text-decoration: underline;
}
.nav_right a p {
	float: left;
	font-size: 12px;
	line-height: 50px;
	margin-top: 0px;
}
.nav_right a img {
	float: right;
	width: 40px;
	height: 30px;
	margin-top: 9px;
}
.main_body {
	margin: auto;
	width: 550px;
	height: 277px;
	/*background-color: pink;*/
/*	margin-top: 32px;*/
	margin-top: -64px;
}
.main_body h1 {
	display: block;
	width: 100%;
	color: rgba(175, 47, 47, 0.15);
	text-align: center;
	font-weight: 100;
	font-size: 100px;
	margin-bottom: 30px;
}
.main_body input {
	width: 474px;
	height: 33px;
	margin-top: -40px;
	padding: 16px 16px 16px 60px;
	border: none;
	box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
	z-index: 100;
	font-size: 24px;
	outline: none;
	margin-bottom: 65px;
}
input::-webkit-input-placeholder{ /*WebKit browsers*/
	font-size: 24px;
	height: 24px;
	color: rgb(223,226,223);
	font-weight: 100;
	font-style:italic;
}
footer {
	width: 100%;
	height: 50px;
}
footer p {
	text-align: center;
	line-height: 1;
	font-size: 10px;
	color: rgb(203,206,203);
}
footer a {
	color: rgb(203,206,203);
	font-weight: 100;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}





